.tag-detail-row {
  display: flex;
  flex-direction: column;

  padding: 15px;
}

.tag-detail-item:not(:first-of-type) {
  margin-top: 30px;
}

.tag-detail-item {
  display: flex;
  align-items: center;
}

.tag-detail-item-label {
  flex-shrink: 0;

  margin-right: 12px;
  font-size: 20px;
  color: #606f7b;
}

.tag-detail-item-value {
  font-size: 18px;
  color: #22292f;
}

.tag-detail-tags {
  display: flex;
  flex-wrap: wrap;

  margin: -7.5px;
}

.tag-detail-tags-item {
  display: flex;

  padding: 6px 12px;
  margin: 15px;

  background-color: #ecedf1;

  border-radius: 6px;
  overflow: hidden;
}

.tag-detail-tag-label {
  margin-right: 6px;
  color: #818aa2;
}

.tag-detail-tag-value {
  color: #363c52;
}
